<html>

<head>
  <meta charset="utf-8">
  <title>Actor Lookup</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <fieldset>
      <div class="searchContainer">
        <form action="/" method="post">
          <input name="actor" type="text" class="ghost-input" placeholder="Actor/Actress (Adam Sandler)" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
      </div>

      <% if(showTitle !== null){ %>
        <div class="userContainer">
          <h3>Searched: <%= searchFor  %> </h3>
          <h4>Average Rating: <%= avg %> /5 </h4>
        </div>
        <div class="titlesContainer">
          <ul>
            <% for(var i=0; i<showTitle.length; i++) { %>
              <li>
                <%= showTitle[i] %>
              </li>
              <% } %>
          </ul>
        </div>
        <canvas id="myChart" class="viewContainer"></canvas>
        <% } %>

    </fieldset>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="script/controller.js"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%- JSON.stringify(showTitle); %>,
        animationEasing: 'easeOutBounce',
        datasets: [{
          label: 'Ascending by Year',
          data: [<%=rating %>],
          backgroundColor: 'rgba(185,9,11, .8)',
          borderColor: 'rgba(185,9,11, .8)',
          fill: false,
          borderWidth: 1,
          pointRadius: 8,
          pointBackgroundColor: 'rgba(185,9,11, .8)',
          pointBorderColor: 'rgba(185,9,11, 1)',
          pointHoverRadius: 10,
        }]
      },
      options: {
        elements: {
          point: {
            pointStyle: 'rectRounded'
          }
        },
        legend: {

        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1,
              suggestedMin: 0,
              max: 5,
              fontSize: 16,
              autoSkip: false
            }
          }],
          xAxes: [{
            ticks: {
              autoSkip: false,
              fontSize: 14,
              max: 10,
              maxRotation: 80,
              minRotation: 80
            }
          }]
        }
      }
    });
  </script>
</body>

</html>
